[submodule "modules/three.js"]
	path = modules/three.js
	url = https://github.com/mrdoob/three.js
	branch = master
	sparse-checkout = true
[submodule "modules/jquery"]
	path = modules/jquery
	url = git://github.com/jquery/jquery
[submodule "stats.js"]
	path = modules/stats.js
	url = git://github.com/mrdoob/stats.js
