body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#info {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em 2em;
    border-radius: 0 0 8px 8px;
    font-family: consolas;
    color: white;
}

#stats_container>div{
    position: fixed;
    top: 0 !important;
    right: 0 !important;
    left: initial !important;
}

#c {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.diagram {
    display: inline-block;
    width: 5em;
    height: 3em;
}

.left {
    float: left;
    margin-right: .25em;
}

.right {
    float: right;
    margin-left: .25em;
}

p {
    margin: 1em auto;
    max-width: 500px;
    font-size: xx-large;
}

body {
    text-align: center;
    background-color: #222222;
}

#canvas-container {
    margin: 0 auto;
}

canvas:focus {
    outline: -webkit-focus-ring-color auto 0px;

}

#individual_cube_views {
    display: block;
}

#individual_cube_views>div {
    width: 350px;
    height: 350px;
    display: inline-block;
    background-color: red;
    margin: 2px;
    position: relative;
}

#combined_cube_views>div {
    width: 529px;
    height: 529px;
    display: inline-block;
    background-color: teal;
    margin: 2px;
}

#debug_uvs {
    position: fixed;
    top: 0;
    left: 0;
}

#debug_uvs>div {
    border: 1px solid #444;
    position: relative;
    display: inline-block;
}

#debug_uvs>div>canvas {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

#debug_uvs>div>canvas.overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}